{
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["src/types/*.ts", "dist/", "src-tauri/target"],
  "rules": {
    "prettier/prettier": "error"
  }
}
